<%- include("partials/header.ejs") %>
<div class="m-5 p-5 main-container d-flex flex-column align-items-center justify-content-evenly">
    <h1>Home</h1>
    <div class="w-50 text-justify">
        <p class="indent">Welcome to Blog Post, your digital sanctuary for inspiration, insight, and infinite possibilities!</p>

        <p class="indent">Step into a realm where words dance across the screen, where ideas spark and flourish, and where every click leads you to new discoveries. 
            Our blog is more than just a collection of articles—it's a vibrant community of thinkers, dreamers, and creators, coming together to share their 
            passions and explore the world around them.</p>

        <p class="indent">Here, you'll find a diverse tapestry of content that caters to every interest and curiosity. From the latest breakthroughs in technology and 
            science to the timeless beauty of art and literature, from practical tips for everyday life to profound reflections on the human experience, 
            there's something here for everyone.</p>

        <p class="indent">But Blog Post is more than just a repository of information—it's a platform for engagement and connection. Join our community of 
            passionate writers and enthusiastic readers as we engage in lively discussions, share our thoughts and experiences, and forge meaningful 
            connections with like-minded individuals from around the globe.</p>

        <p class="indent">Whether you're a seasoned wordsmith looking for a place to showcase your talent, an avid reader hungry for new perspectives, 
            or simply someone seeking a moment of inspiration in your busy day, you'll find a home here at Blog Post.</p>

        <p class="indent">So come on in, take a seat, and let your imagination soar. Grab a cup of coffee, tea, or your beverage of choice, and lose yourself in the 
            magic of words. Welcome to a place where ideas flourish, where stories come to life, and where the possibilities are endless. Welcome to Blog Post.</p>

            

            

            

            
    </div>

    <a href="/write" class="btn btn-primary rounded-pill">Start Writing</a>
</div>
<%- include("partials/footer.ejs") %>